/*  btn-color and txt-color: #6c2dba ;
    nega-biz-card-color: #6c2dba ;
    nega-biz-bg-color: #161616 ;
*/


/* conatiner */
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 15px  0 ;
}
@media(max-width:1200px){
  .container{
    padding: 0 10px;
  }
}