/*  btn-color and txt-color: #6c2dba ;
    nega-biz-card-color: #6c2dba ;
    nega-biz-bg-color: #161616 ;
*/

/* conatiner */
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

/* home page background image */
.homepage {
  background-image: url(./assets/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

/* contact -part background image */
.contact-part {
  background-image: url(./assets/formImg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
}

/* price section styles */
.price-bg {
  background-image: url(./assets/pricing-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.price-grp{
  background-image: url(./assets/pricing-itembg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  border:1px solid white;
  border-radius: 10px;
}
.price-grp:hover{
  border-color: #6c2dba;
}
.grp-left{
  border-right: 1px solid white;
}
.price-grp:hover .grp-left{
  border-color: #6c2dba;
}
@media (max-width: 1400px) {
  .container {
    padding: 10px 20px;
  }
}

@media(max-width:1024px){
  .grp-left{
    border-right:none;
  }
}

@media (max-width: 700px) {
  .homepage {
    background-position: left top;
  }
}
