/*  btn-color and txt-color: #6c2dba ;
    nega-biz-card-color: #6c2dba ;
    nega-biz-bg-color: #161616 ;
*/


/* conatiner */
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px  0 ;
}

/* home page background image */
.homepage{
  background-image: url(./assets/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

/* contact -part background image */
.contact-part{
  background-image: url(./assets/formImg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed ;
}
@media(max-width:1400px){
  .container{
    padding: 10px 20px ;
  }
}

@media(max-width:700px){
  .homepage{
    background-position: left top;
  }
}